/* General ------------------------------------------------------------------------------------------------------------------ */

/* https://fonts.google.com/ for custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');

:root{
    --babyBlue: #4CBBCE;
    --oceanBlue: #005EB8;
    --softBlue: #89CFF0;

    --grey: #F6F6F6;
    --peach: #fff8e6; 
    --darkOrange: #ff7700;
}

*{
    box-sizing: border-box; /* border-box --> all content is inside its container always */ 
    margin: 0;
    padding: 0;
}

body{
    background-color: white; 
}

/* Background div includes both the nav bar and the intro content */
#backgroundIndex{
    
    background-image: linear-gradient(0deg, coral, lightcoral 20%,coral);
    
    /* Only if the background is a URL */
    background-repeat: no-repeat;
    background-size: 100%;

    min-height: 95vh;
}

/* Format Content Headers */
.contentTitle{
    text-align: center;
    font-size: 4.9vh;
    
    font-weight: 525;
    font-family: "Kanit", sans-serif;

    padding-top: 3%;

    color: black;
}

.contentText{

    font-family: 'kanit', serif;
    font-weight: 525;
    font-size: 1.43vw;
    text-align: justify;

    color: black;
}

.infoLink, .infoLink:visited, .infoLink:active{
    color: var(--babyBlue);
}
.infoLink:hover{
    color: lightcoral;
} 

.centerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueHeader{

    font-size: 2.6vw;
    font-weight: 600;
    color: var(--oceanBlue);
    font-family: 'Poppins', serif;
}

.whiteText{
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;

    font-weight: 1000;
    color: white;
}

/* Animations --------------------------------------------------------------------------------------------------------------------- */

/* (optional) guarantee the animation to work on different browser versions with -webkit or -mz */
.fadeInLeft{
    animation: fadeInLeft 1.5s both;   
    /* Declare indicator name for the animation and how long it lasts */
}

.fadeInRight{
    animation: fadeInRight 1.5s both;
    /* Both = object has inital state and keeps final state after animation occurs */
}

.fadeFromTop{
    animation: fadeFromTop 1.5s both;
}

.fadeFromBottom{
    animation: fadeFromBottom 1s both;
}

.expand{
    animation: expand 1.5s both;
}

.typeWriter{

    overflow: hidden; /* Since the width is 0px at the start, there will be no text because the overflow is hidden */
    white-space: nowrap; /* Keep text on one line */
    
    /* The one second at the end is the delay before playing animation */
    animation: typeWriter 2.5s both 0.5s;
}

.barrelRoll{
    animation: barrelRoll 2s both;
}

@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translateX(-4.25vw);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight{
    from{
        opacity: 0;
        transform: translateX(4.25vw);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeFromTop{
    from{
        opacity: 0;
        transform: translateY(-3.25vw);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromBottom{
    from{
        opacity: 0;
        transform: translateY(6.4vh);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expand{
    from{
        transform: scale(0.95);
    }

    50%{
        transform: scale(1.05);
    }

    to{
        transform: scale(1);
    }
}

@keyframes typeWriter{
    from{
        width: 0%;
    }

    50%{
        color: var(--peach);
    }

    to{
        width: 100%;
        color: #FFD700;
    }   
}

@keyframes barrelRoll {
    from{
        transform: rotate(25deg);
    }
    to{
        transform: rotate(385deg); /* 360deg = 385deg - 25deg */
    }
}

/* Navagation Bar --------------------------------------------------------------------------------------------------------------------- */

/* Position the entire navigation bar correctly to style */
header{

    /* Take leftover space and equally distrubute */
    justify-content: space-between; 
    
    /* Top, Right, Bottom, Left */
    padding: 1.4vh 10% 1.4vh 10%;
    
    display: flex;
    /* gap: 5rem; */

    /* Correctly place all children on the same x-position */
    align-items: center;

    background-image: linear-gradient(200deg, lightcoral, lightcoral 15%,coral);

}

#contacts{
    background-image: linear-gradient(200deg, #89CFF0, #89CFF0 15%, #89CFF0);
}

/* Remove the bullet points from the navigation bar */
.navLinks, .aboutLink{
    
    font-size: 1.1vw;
    list-style: none;
}

.navLinks li a:hover, .aboutLink:hover{
    color: lightcyan;
}

/* Separate each child in the navigation bar */
.navLinks li{
    display: inline-block;
    padding-right: 2.5vw;
}

/* Decorate each child in the navigation bar */
li a, .aboutLink{

    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

/* Format Logo and Text Banner */
.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Portfolio Logo */
.logoDiv img{    
    background-color: none;
    margin-top: 2%; /* Adjust Logo position */
    margin-right: 5%;

    width: 6.5vh;
    height: 5vh;
}

.logoDiv p, #contactLogoDiv{

    font-size: 1.1vw;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;

    white-space: nowrap; 
    min-width: auto; /* The size of the element is determined by its text-content */
}

/* All logos other than index.html */
#logo:hover{
    cursor: pointer;
}

/* Title Content --------------------------------------------------------------------------------------------------------------------- */

.container{

    /* Everything fits in container */
    box-sizing: border-box;
    flex-basis: 1; /* even elements in wrapper (for columns, etc) */
    display: flex;
}

.introWrapper{
    
    /* Top, Right, Bottom, Left */
    margin: 4% 0 0 10%;

    position: relative;
}


.introWrapper img{

    transform: rotate(-90deg); /* Rotate image into a down arrow */

    margin-top: 20vh; 
    width: 3vw;

    outline: 2px solid white;
    border-radius: 1.5vw;

    opacity: 0.9;
    transition: 0.5s ease; /* Reset animation position when the arrow is not clicked */
}

.introWrapper img:hover{
    cursor: pointer;
}

.introWrapper img:active{
    transition: 0.5s ease; 
    margin-top: 24vh;
}

.introWrapper h2{

    /* Positioned relative to absolutely to its first positioned parent 'intro' */
    position: absolute;

    margin-top: 15%;
    margin-left: 15%;

    width: max-content;
    font-size: 4vh;
    color: #c83634;
    transform: rotate(-10deg);
    font-family: 'Courier New', Courier, monospace;
}

#indexMainText{

    font-family: "Kanit", sans-serif;
    font-size: 4vw;
    color: white;

    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0.1vw 0.1vh 1vh var(--darkOrange);
}

.introCaption{

    font-family: "Koulen", sans-serif;
    font-size: 3vh;
    max-width: 25vw;
    color: lightyellow;
}

.introDescription{

    font-family:'Poppins', serif;
    font-size: 2.5vh;
    font-weight: 550;
    padding: 9% 0 0 0;

    /* vw: hundredths of the viewport width */
    max-width: 50vw;
    
    color: white;
    text-align: justify;

    /* To Do: https://css-tricks.com/snippets/css/typewriter-effect/ */
}

#larryBeach{
    max-width: 26vw;
    max-height: 26vw;

    border-radius: 13vw;
    transform: rotate(25deg);

    margin-left: 7%;
    margin-top: 5%;
}

/* Computer History Container ---------------------------------------------------------------------------------------------------------------- */

.compHistory{
    min-height: 77vh;
    background-color: rgb(255, 255, 255);
}

.iconContainer{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1.65vw;
}

.programLang{
    margin-top: 5em;

    max-width: 30.5vh;
}

/* Roblox Experience ---------------------------------------------------------------------------------------------------------------- */

.robloxHistory{
    background-color: var(--peach);
    min-height: 84vh;
}

.robloxContentContainer{    

    display: flex;
    /* Take up the entire width of the container */  
    flex: 1;
}

.robloxVideo{

    margin-left: 10%;
    margin-top: 5%;

    max-width: 35%;
    min-height: 42vh;
}


.robloxDesc{

    /* Override other font-size of 22px via contentText class */
    font-size: 2.9vh;

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;   
}

/* Discord Experience ------------------------------------------------------------------------------------------------------------------- */

.discordHistory{
    background-color: white;
    min-height: 90vh;
}

.discordContentContainer{
    display: flex;
    flex: 1;
    margin-top: 4em;

    align-items: center;
}

.discordContentContainer p{
    color: black;

    margin-left: 10%;
    margin-right: 5%;
    max-width: 40%;
}

.discordContentContainer img{
    width: 35%;
    margin-right: 10%;
}

/* Cyberstart  ------------------------------------------------------------------------------------------------------------------- */

.cyberStart{
    background-color: var(--peach);
    min-height: 80vh;
}

.cyberstartContentContainer{

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    margin-top: 4em;
}

.cyberstartContentContainer p{
    
    /* Override justify from contentText class */
    text-align: center;
    
    max-width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.cyberstartContentContainer img{
    max-width: 20%;
}

/* For More Info Div ------------------------------------------------------------------------------------------------------------- */

.forMoreInfo{
    min-height: 25vh;

    text-align: center;
    background-image: linear-gradient(200deg, lightcoral, lightcoral 15%,coral);
}

#moreDetailsInMyWorks, .socials{
    font-size: 4.2vh;
    padding-top: 10vh;
}

.forMoreInfo a{
    /* Remove all default styling from link tag */
    all: unset;
}

.forMoreInfo a:hover{
    cursor: pointer;
}

#aboutIndex{
    padding-top: 3vh;
    font-size: 15px;
}

/* Footer (inside for more info div) ------------------------------------------------------------------------------------------------ */

footer{
    
    position: relative;

    /* em is relative to the font size */
    min-height: 25vh;
}

.socials{

    padding-top: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5vh;
}

.socials p{

    /* Footer is inside the forMoreInfo div = would have 10vh padding */
    padding: 0;
}

.socials img{
    max-width: 6vh;
}

.socials img:hover{
    cursor: pointer;
}

.legalFooter{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    /* absolute: the element is positioned absolutely to its first positioned parent AKA position: relative in footer div */
    position: absolute;
    bottom: 0;
}

/* Contacts Page ----------------------------------------------------------------------------------------------------------------------- */

.iconWrapper{
    display: flex;
    align-items: center;

    margin-left: 8.2%;
}

.iconWrapper img{
    margin: 2% 0 0 2%; 
    max-width: 2.5vw;

    transform: rotate(0deg);
    transition: 0.5s ease;
}

.iconWrapper img:hover{
    cursor: pointer;

    transform: rotate(25deg);
    transition: 0.5s ease;
}

#contactInfo{
    width: 50vh;
    outline: 2px solid lightgrey;
    padding: 3vh;
    box-shadow: 2vh 2vh var(--softBlue);

    margin: 3%;
    text-align: center;

    font-size: 1.2vw;
    font-weight: 600;
    color: var(--oceanBlue);
    font-family: 'Poppins', serif;
}

.skillset{
    
    margin-top: 15vh;
    padding-bottom: 15vh;
    background-color: var(--grey);
    display: grid; /* Similar to display: block but with flexbox-like properties */
    place-items: center;

    min-height: 30vh;   
}

.skillset h1{
    
    margin: 10vh;
}

.skillWrapper{
    column-count: 4;
    gap: 5vw;

    text-align: center;
}

.skillWrapper p{
    margin-top: 15%;

    font-size: 1.2vw;
    font-weight: 600;
    color: green;
    font-family: 'Poppins', serif;
}

.skillWrapper img{
    width: 6vw;
}

.workWrapper{
    display: grid;
    place-items: center;

    margin-bottom: 13%;
}

.workWrapper h1{
    margin-top: 4%;
    margin-bottom: 2.5%;
}

.workWrapper a{

    background-color: white;

    font-family: 'Poppins', Courier, monospace;
    color: var(--babyBlue);

    text-decoration: none;
    padding: 1%;
    outline: 2px solid lightgrey;

    transition: ease 0.25s;
}

.workWrapper a:hover{
    transition: ease 0.25s;
    color:rgb(233, 63, 63);
}

#contactsFooter{
    background-color: var(--softBlue);
    min-height: 40vh;
}

#aboutContacts{
    padding-top: 5%;

    text-align: center;
    font-size: 1.5vw;
}