/* https://fonts.google.com/ for custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    /* Border-box makes everything into rectangles */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(88, 63, 51); 
    /* Red: rgb(249, 60, 60) */
    /* Grey: rgb(246, 246, 246) */

    height: 20000px;
}

/* Navagation Bar --------------------------------------------------------------------------------------------------------------------- */

/* Position the entire navigation bar correctly to style */
header{
    background-color: rgb(253, 173, 136); 

    /* Take leftover space and equally distrubute */
    justify-content: space-between; 
    
    /* Top, Right, Bottom, Left */
    padding: 20px 10%;
    
    display: flex;
    /* gap: 5rem; */

    /* Correctly place all children on the same x-position */
    align-items: center;
}

/* Remove the bullet points from the navigation bar */
.navLinks{
    list-style: none;
}

.navLinks li a:hover{
    color: black;
}

.aboutLink:hover{
    color: black;
}

/* Separate each child in the navigation bar */
.navLinks li{
    display: inline-block;
    padding-right: 30px;
}

/* Decorate each child in the navigation bar */
li a, .aboutLink{
    /* outline: 3px solid red; */

    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

/* Larry Le | CS Student */
#headerName, #headerName a{

    text-decoration: none;
    font-weight: 600;
    color: white;
    
    font-family: "Ubuntu", sans-serif;
    font-size: large;
}

/* Hook in (front content) ----------------------------------------------------------------------------------------------------------- */

.container{

    height: 550px;
    background-color:  rgb(250, 250, 250);
    
    /* Once flex-item, cannot change display */
    display: block;
    box-sizing: border-box;

    /* even elements in wrapper (for columns, etc) */
    flex-basis: 1;
}

.intro{

    font-family: "Kanit", sans-serif;
    font-size: 45px;
    padding: 100px 0% 0% 10%;
    width: 650px;
}

.introCaption{

    font-family: "Koulen", sans-serif;
    font-size: 22px;
    padding: 0% 0% 0% 10%;
    width: 550px;
    color: rgb(165, 190, 255);
}

.introDescription{

    font-family: "Kanit", sans-serif;
    font-size: 22px;
    padding: 5% 0% 0% 10%;
    width: 800px;
}