@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Martel:wght@200;300;400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #fffef9;
  --primary-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--primary-background);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

p {
  color: var(--primary-color);
}

.text-6-5xl {
  font-size: 4.1rem;
  line-height: 4rem;
}
.py-14 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}
.w-charlie-custom {
  width: 72rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
